.create-posts {
  width: 100%;
  height: 100%;
}

.create-post__form,
.form__group,
.post__preview {
  width: 100%;
}

.create-post__form {
  height: max-content;
}

.post__preview img {
  width: 100%;
}

/****************************************/
.filter__form {
  width: 200px;
}

.filter__holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap;
}

.filter {
  width: 150px;
  height: 150px;
}

.filter label {
  width: 100px;
  height: 100px;
}

.filter__button {
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/sample.jpeg");
  background-size: cover;
  background-position: center;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + .filter__button {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + .filter__button {
  border: 5px solid rgb(85, 46, 75);
}
