.login,
.login__header,
.login__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  width: 100%;
  height: 100%;
  padding: 5%;
  justify-content: space-evenly;
  background-image: url(/assets/images/login_bg.jpg);
  background-size: cover;
  background-position: 50% 10%;
}

.login__header {
  width: 100%;
}

.login__header h1 {
  color: #ffffff;
}

.login__header img {
  width: 40%;
}

.login__holder {
  width: 95%;
  height: 50%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 6px;
  padding: 0 5% 10%;
}

.login__form,
.login__form__input-holder,
.form__group {
  display: flex;
  flex-direction: column;
}

.login__form {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  padding: 5%;
}

.login__form .message {
  height: 20%;
}

.login__form .error__text p {
  color: #fa90a0;
}

.login__form__input-holder {
  height: 60%;
  justify-content: space-evenly;
  margin-bottom: 15%;
}

.login .message {
  padding: 3% 5%;
  margin-bottom: 5%;
}
