::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

.container {
  min-height: 100%;
  background-color: rgb(243, 243, 243);
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 19% 3%;
}

* {
  font-family: "Libre Franklin", sans-serif;
}

*:focus {
  outline: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  color: #fa90a0;
  margin: 0;
  font-family: "Concert One", cursive;
}

a,
a:visited {
  font-weight: 900;
  color: #fa90a0;
  text-decoration: none;
}

.form__text p {
  margin: 0;
  font-size: 0.7em;
}

label {
  font-weight: 400;
  font-size: 0.7em;
  color: #fa90a0;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="file"] {
  padding: 15px 5px;
  line-height: 20px;
  border: none;
  border-bottom: 2px solid #fa90a0;
  font-size: 1em;
  color: #fca1af;
  background-color: #f5e5e852;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

textarea {
  border: 1px solid rgba(128, 128, 128, 0.349);
  border-radius: 10px;
  resize: none;
  padding: 5% 5% 0 5%;
}

/********************ERROR*********************/
.message {
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message__error--color {
  background-color: #b40021d0;
}

.message__success--color {
  background-color: #3cb90adc;
}

.message p {
  font-size: 0.8em;
  font-weight: 700;
  margin: 0;
  color: white;
}

/********************EMPTY**********************/
.empty {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 5%;
  height: 100%;
  padding: 5%;
  justify-content: center;
  align-items: center;
}

.empty p {
  width: 80%;
  text-align: center;
  margin: 0;
}

/*******************BUTTON**********************/
.button {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.205);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 6% 10%;
  background-color: white;
  border: none;
  color: #ffffff;
  background-color: #fa90a0;
  width: 100%;
  font-weight: 600;
  font-size: 0.7em;
}

.delete__form__buttons {
  width: 100%;
  display: flex;
  margin-top: 5%;
}

.delete__form__buttons .button {
  background-color: #9b001c;
  width: 35%;
  margin-top: 0;
  margin-right: 5%;
  padding: 4% 10%;
}

/****MEDIA QUERIES FOR DESKTOP****/
@media (min-width: 1024px) {
  .section {
    padding: 8% 32%;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 0.95em;
  }

  h3 {
    font-size: 0.85em;
  }

  p {
    font-size: 0.7em;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="file"] {
    padding: 12px 5px;
    line-height: 15px;
    font-size: 0.8em;
  }

  .button {
    padding: 3% 5%;
    width: 100%;
  }

  .message p {
    font-size: 0.65em;
  }
}
