.settings__avatar img {
  width: 200px;
  height: 200px;
}

.profile {
  width: 100%;
}

.profile__header {
  width: 100%;
  display: flex;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 5%;
}

.profile__header img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.create-posts img {
  width: 500px;
}

.profile__feed {
  width: 100%;
}

.post {
  width: 100%;
  padding: 5%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.post img {
  width: 100%;
}

.hidden {
  display: none;
}

.like__button {
  width: 50px;
  height: 50px;
  border: none;
}

.like__button--unliked {
  background-image: url("../images/like.svg");
  background-size: 100%;
}

.like__button--liked {
  background-image: url("../images/liked.svg");
  background-size: 100%;
}
