.login,
.register,
.main__feed,
.search {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  background-color: rgb(243, 243, 243);
}

.main__feed,
.profile,
.search,
.create-posts {
  padding: 19% 3%;
  height: 100%;
}

a,
a:visited {
  font-weight: 900;
  color: #fca1af;
  text-decoration: none;
}

.settings__avatar img {
  width: 200px;
  height: 200px;
}

.profile {
  width: 100%;
}

.profile__header {
  width: 100%;
  display: flex;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 5%;
}

.profile__header img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.profile__feed {
  width: 100%;
}

.follow {
  display: flex;
}

.follow__item {
  width: 150px;
  height: 60px;
  background-color: pink;
  margin-right: 10px;
}
/*****MAIN CSS****/

h1 {
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  font-size: 2em;
  color: #fca1af;
  margin: 0;
}

/*******************BUTTON**********************/
.button {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.205);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 3% 10%;
  background-color: white;
  font-size: 1em;
  font-weight: 700;
  border: none;
  color: #ffffff;
  background-color: #fca1af;
}

p,
a,
li,
.form,
.button,
.error__text {
  font-family: "Libre Franklin", sans-serif;
}

label {
  font-weight: 400;
  font-size: 0.7em;
  color: #fca1af;
}

/*INPUT FIELDS*/

input[type="email"],
input[type="password"],
input[type="text"],
input[type="file"] {
  padding: 15px 5px;
  line-height: 20px;
  border: none;
  border-bottom: 2px solid #fca1af;
  font-size: 1em;
  color: #fca1af;
  background-color: #f5e5e852;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="file"]:focus {
  outline: none;
}

textarea {
  border: 1px solid rgba(128, 128, 128, 0.349);
  border-radius: 10px;
  resize: none;
}

.form__text p {
  margin: 0;
  font-size: 0.7em;
}

.error__text {
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error__text--background {
  background-color: #dd5a7252;
}

.error__text p {
  font-size: 0.8em;
  font-weight: 700;
  margin: 0;
  color: white;
}
