.nav__bar,
.nav__header {
  width: 100%;
  background-color: white;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 99;
}

.nav__header {
  display: flex;
  align-items: center;
  padding: 3% 5%;
  top: 0;
  height: 8vh;
}

.nav__bar {
  bottom: 0;
}

.nav__header h1 {
  font-size: 1.3em;
}

.nav__header img {
  width: 40px;
  margin-right: 5%;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menu__item {
  width: 40px;
  height: 40px;
}

.menu__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu__icon {
  width: 60%;
}

/****MEDIA QUERIES FOR DESKTOP****/
@media (min-width: 1024px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 99;
  }

  .nav__header,
  .nav__bar {
    box-shadow: none;
  }

  .nav__header {
    padding: 1% 5%;
    position: initial;
    width: 30%;
  }

  .nav__header h1 {
    font-size: 1em;
  }

  .nav__bar {
    position: initial;
    display: flex;
    align-items: center;
    width: 25%;
  }

  .menu {
    margin: 0;
  }

  .menu li:first-of-type {
    display: none;
  }
}
