.post {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.post {
  margin-bottom: 5%;
  min-height: 75vh;
}

.post__user {
  width: 100%;
  height: 8vh;
  padding: 2% 1% 2% 2%;
  display: flex;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
  background-color: #ffffff;
}

.post__user--username {
  width: 75%;
}

.post__user--username a {
  display: flex;
  align-items: center;
}

.post__user--username img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 3%;
  object-fit: cover;
}

.post__user--username p {
  display: inline-block;
  margin: 2% 0;
}

.post__user--settings {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.post__user--settings img {
  height: 90%;
}

.settings--overlay {
  width: 94%;
  height: 20%;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2% 5%;
}

.settings--overlay .button {
  padding: 4%;
}

.post__image {
  height: 45vh;
}

.post__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__information {
  padding: 3%;
  height: 30%;
}

.post__information--holder,
.post__edit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__likes {
  width: 100%;
}

.like__form {
  display: flex;
}

.like__form p {
  margin: 2.5% 0;
  font-size: 0.7em;
  font-weight: 500;
}

.like__button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ffffff;
  margin-right: 3%;
}

.like__button--unliked {
  background-image: url("../images/like.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.like__button--liked {
  background-image: url("../images/liked.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.post__details--description {
  padding-top: 3%;
}

.post__details--description p {
  margin: 0;
}

.post__details--time p {
  font-size: 0.6em;
  font-weight: 200;
}

.edit__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.edit__form textarea {
  height: 60%;
}

.edit__form--buttons {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  padding-top: 3%;
}

.edit__form--submit {
  width: 50%;
  padding-right: 5%;
}

.edit__form .button {
  padding: 8%;
}

.edit__form p {
  width: 20%;
  margin: 0;
}
