.post {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.post {
  margin-bottom: 5%;
  min-height: 75vh;
}

.post__user {
  width: 100%;
  height: 8vh;
  padding: 2% 1% 2% 2%;
  display: flex;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
  background-color: #ffffff;
}

.post__user--username {
  width: 75%;
  display: flex;
  align-items: center;
}

.post__user--username a {
  display: flex;
  align-items: center;
  width: 100%;
}

.post__user--username img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 3%;
  object-fit: cover;
}

.post__user--username p {
  display: inline-block;
  margin: 2% 0;
  width: 80%;
}

.post__user--settings {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.post__user--settings img {
  height: 90%;
  width: 30%;
  object-fit: fill;
}

.settings__overlay {
  width: 94%;
  height: 20%;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2% 5%;
}

.settings__overlay .button {
  padding: 4%;
}

.delete-post__overlay {
  background-color: rgba(0, 0, 0, 0.432);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(4px);
  width: 94%;
  height: 76.5%;
  position: absolute;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-post__overlay label {
  font-size: 1em;
  font-weight: 800;
}

.delete-post__overlay label,
.delete-post__overlay p {
  color: white;
}

.delete-post__overlay .button {
  width: 50%;
}

.delete-post__overlay .delete__form__buttons {
  display: flex;
  justify-content: center;
}

.post__image {
  width: 94vw;
  height: 45vh;
}

.post__image img {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.post__information {
  padding: 3%;
  min-height: 22vh;
}

.post__information--holder,
.post__edit {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__likes {
  width: 100%;
}

.like__form {
  display: flex;
}

.like__form p {
  margin: 2.5% 0;
  font-size: 0.7em;
  font-weight: 600;
}

.like__button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ffffff;
  margin-right: 3%;
}

.like__button--unliked {
  background-image: url("../images/like.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.like__button--liked {
  background-image: url("../images/liked.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.post__details--description {
  padding-top: 3%;
}

.post__details--description p {
  margin: 0;
  padding: 0 2%;
  white-space: pre-wrap;
}

.post__details--time p {
  font-size: 0.6em;
  font-weight: 200;
  padding: 0 2%;
}

.show-more__button {
  border: none;
  background-color: white;
  font-weight: 600;
  color: #fa90a0;
  font-size: 0.9em;
}

.edit__form {
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.edit__form textarea {
  height: 60%;
}

.edit__form--buttons {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  padding-top: 3%;
}

.edit__form--submit {
  width: 50%;
  padding-right: 5%;
}

.edit__form .button {
  padding: 8%;
}

.edit__form p {
  width: 20%;
  margin: 0;
}

.comment {
  position: relative;
}

.comment-form {
  display: none;
  padding: 20px 0 0 0;
}

.comment-form label {
  font-size: 0.9em;
  padding-top: 5%;
  font-weight: 700;
}

.comment-form button {
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  color: rgb(255, 255, 255);
  background-color: rgb(113, 5, 21);
  width: 100%;
  font-weight: 600;
  font-size: 0.7em;
  padding: 4%;
  margin: 5% 0 3%;
}

.comment-form.show {
  display: block;
}

.edit {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.edit img {
  height: 23px;
}

.update-comment-textarea {
  width: 99%;
}

/****MEDIA QUERIES FOR DESKTOP****/
@media (min-width: 1024px) {
  .settings__overlay {
    width: 36%;
    height: 25%;
    margin-top: 4%;
    padding: 2%;
  }

  .delete-post__overlay {
    width: 36%;
    height: 88%;
  }

  .post__details--description {
    padding-top: 0;
  }

  .show-more__button {
    font-size: 0.7em;
  }

  .post__image {
    height: 55vh;
    width: 36vw;
  }
}
